.accountInfoStatsCard {
  border-radius: var(--borders-border-radius);
  border: 1px solid var(--borders-color);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 16px;
  width: calc(100% - 32px);
  overflow: hidden;
}

.accountInfoStatsCardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.accountInfoStatsSection {
  display: grid;
  gap: 12px;
  width: 100%;
  overflow: hidden;
}

.accountInfoStatsSection > * {
  width: 100%;
}

@media (min-width: 1024px) {
  .accountInfoStatsCard {
    flex-direction: row;
    align-items: center;
  }

  .accountInfoStatsSection {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .tiktokContainer {
    border-radius: var(--borders-border-radius) var(--borders-border-radius) 0 0;
    border-bottom: 0;
  }

  .instagramContainer {
    border-radius: 0 0 var(--borders-border-radius) var(--borders-border-radius);
    border-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .accountInfoStatsSection {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .accountInfoStatsCard {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .accountInfoStatsSection {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .accountInfoStatsCard {
    margin-bottom: 16px;
  }
}
