:root {
  --background-color: #010000;
  --secondary-background-color: #19191e;
  --font-family: "Inter, sans-serif";
  --primary-text-color: #ffffff;
  --headings-color: #ffffff;
  --borders-color: #2d2e2c;
  --borders-border-radius: 20px;
  --contrast-color: #b3e53e;
  --key-information-text-color: #4c895d;
  --subheadings-color: #706f6f;
  --subheadings-font-weight: 300;
  --stats-text-color: #ffffff;
  --stats-text-font-weight: 300;
  --thin-font-weight: 300;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

h1 {
  color: var(--headings-color);
  font-weight: var(--headings-font-weight);
}

h2 {
  color: var(--subheadings-color);
  font-weight: var(--subheadings-font-weight);
}

h3 {
  color: var(--stats-text-color);
  font-weight: var(--stats-text-font-weight);
}

h4 {
  color: var(--contrast-color);
  font-weight: var(--active-heading-font-weight);
}

h5 {
  color: var(--key-information-text-color);
  font-weight: var(--key-information-text-font-weight);
}
