/* Global styles */

:root {
  --background-color: #010000;
  --font-family: "Inter, sans-serif";
  --headings-color: #ffffff;
  --borders-color: #2d2e2c;
  --borders-border-radius: 20px;
  --active-heading-color: #b3e53e;
  --key-information-text-color: #4c895d;
  --subheadings-color: #706f6f;
  --subheadings-font-weight: 400; /* regular */
  --stats-text-color: #ffffff;
  --stats-text-font-weight: 300; /* light */
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

h1 {
  color: var(--headings-color);
  font-weight: var(--headings-font-weight);
}

h2 {
  color: var(--subheadings-color);
  font-weight: var(--subheadings-font-weight);
}

h3 {
  color: var(--stats-text-color);
  font-weight: var(--stats-text-font-weight);
}
