.headerTabsSection {
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  row-gap: 8px;
  column-gap: clamp(4px, 4vw, 32px);
  color: var(--subheadings-color);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--borders-color);
}

.headerTab {
  cursor: pointer;
  font-weight: var(--thin-font-weight);
  font-size: 0.7rem;
  white-space: nowrap;
  min-width: fit-content;
  max-width: 100%;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.5s ease-in-out;
}

.headerTabs::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .headerTab {
    font-size: 16px;
  }

  .headerTabsSection {
    column-gap: clamp(4px, 4vw, 64px);
  }
}

.headerTab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: var(--contrast-color);
  transition: width 0.5s ease-in-out;
}

.headerTab:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

.active {
  color: var(--contrast-color);
}
